.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #6a5acd;
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav-logo {
  font-size: 28px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}
